@model BusinessObjects.Models.Category
@{
    Layout = null;
}

<form id="modal-form" method="post" asp-page-handler="Create" asp-page="/Staff/Categories/Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="CategoryName" class="form-label"></label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoryDesciption" class="form-label"></label>
        <input asp-for="CategoryDesciption" class="form-control" />
        <span asp-validation-for="CategoryDesciption" class="text-danger"></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>